<div class="form-element" [formGroup]="myGroup">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ label }}</mat-label>
        <input
            [type]="type"
            matInput
            [placeholder]="placeholder"
            [value]="valueVar"
            (input)="setValue($event)"
            formControlName="inputVal"
            [required]="isRequired"
        />
        <mat-error [innerHTML]="getErrorMsg">
        </mat-error>
        <mat-error [innerHTML]="getRequiredErrorMsg" *ngIf="formControlVal.errors?.required">
        </mat-error>
    </mat-form-field>
    <p>{{ formControlVal.errors | json }}</p>
</div>
