<div class="form-element" [formGroup]="myGroup">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>{{ label }}</mat-label>
        <input
            [type]="type"
            matInput
            [placeholder]="placeholder"
            [value]="valueVar"
            (input)="setValue($event)"
            formControlName="inputVal"
        />
        <mat-error *ngIf="formControlVal.errors?.email">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="formControlVal.errors?.required">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <p>{{ formControlVal.errors | json }}</p>
</div>
