<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-component
        [type]="'email'"
        formControlName="emailFormControl"
        [label]="'Email'"
        [placeholder]="'example@ex.com'"
        [isRequired]="true"
        [parentForm]='form.controls.emailFormControl'
    ></app-input-component>
    <app-input-component
        [type]="'password'"
        formControlName="passFormControl"
        [label]="'Password'"
        [parentForm]='form.controls.passFormControl'
    ></app-input-component>
    <app-input-component
        [type]="'tel'"
        formControlName="phoneFormControl"
        [label]="'Phone'"
        [placeholder]="'+123 234 567'"
        [parentForm]='form.controls.phoneFormControl'
    ></app-input-component>

    <button mat-raised-button type="submit" [disabled]="!form.valid">
        Submit
    </button>
</form>
