<form class="example-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input-component
        [type]="inputType.EMAIL"
        formControlName="emailFormControl"
        [label]="'Email'"
        [placeholder]="'example@ex.com'"
        [isRequired]="true"
        [parentFormCtrl]="getFormControl('emailFormControl')"
    ></app-input-component>
    <app-input-component
        [type]="inputType.PASSWORD"
        formControlName="passFormControl"
        [label]="'Password'"
        [parentFormCtrl]="getFormControl('passFormControl')"
    ></app-input-component>
    <app-input-component
        [type]="inputType.PHONE"
        formControlName="phoneFormControl"
        [label]="'Phone'"
        [placeholder]="'+123 234 567'"
        [parentFormCtrl]="getFormControl('phoneFormControl')"
    ></app-input-component>

    <button mat-raised-button type="submit" [disabled]="!form.valid">
        Submit
    </button>
</form>
